// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$body-bg: #EDF1F3;

$primary: #40a6c8;
$secondary: #DAE1E7;
$success: #51D88A;
$info: #6CB2EB;
$warning: #FFF382;
$danger: #EF5753;
$dark: #20504F;
$light: #f1f5f8;

$border-color: #EFEFEF;

$table-headers-color: #F3F4F6;
$table-border-color: #EFEFEF;
$table-hover-bg: #f1f7fa;

$card-cap-bg: #fff;
$card-bg-secondary: #f1f7fa;
$card-shadow-color: #cdd8df;
$card-border-radius: .5rem;