// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

body {
  color: #424C55;
}

.rq-navbar {
    background-color: #f9f9f9;
    // box-shadow: 0 .5rem 0.5rem rgba(0,0,0,.01),inset 0 -1px 0 rgba(0,0,0,.1)
}

.navbar {
  border-top: 3px solid #d71149;
  min-height: 68px;
  // margin-bottom: 35px;
}

.nav-pills {
  border-bottom: 1px solid #ececec;
}

.nav-pills .nav-link {
  color: #424C55;
  border-radius: 0rem;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #424C55;
  font-weight: bold;
  background-color: #f9f9f9;
  border-bottom: 1px solid #d71149;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #424c55;
  text-decoration: none;
  background-color: #f9f9f9;
}

.card {
  box-shadow: 0 2px 3px rgba(0,0,0,.16);
  border: 1px solid transparent;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  color: #333;
  background-color: #fff;
  border-bottom: 0;
}

.card-body {
  background-color: #f9f9f9;
}


a {
  color: #d71149;
}

a:hover {
  color: #d71149;
  text-decoration: underline;
}

.card-header-active {
    background-color: #d71149;
    color: #fff;
    border: 0px solid #d71149;
}

.tbr-0 {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.page-link:focus,
.page-link:hover {
  color: #d71149;
  background-color: #e9ecef;
  border-color: #e9ecef;
}

.page-item.active .page-link {
  color: #d71149;
  background-color: #e9ecef;
  border-color: #e9ecef;
}

.page-item.disabled .page-link {
  color: #e9ecef;
  background-color: #fff;
  border-color: #f5f8fa;
}

.page-link {
  color: #868e96;
  background-color: #fff;
  border: 1px solid #f5f8fa;
}

.list-group-item {
  border: 1px solid #f2f2f2;
}

.list-group-item.active {
  z-index: 2;
  color: #d71149;
  font-weight: bold;
  background-color: #f8f9fa;
  border-color: #f2f2f2;
}

.table-rq,
.table-rq > th,
.table-rq > td {
  background-color: #fdfdfe;
}

.table-hover .table-rq:hover {
  background-color: #fff; 
}

.table-hover .table-rq:hover > td,
.table-hover .table-rq:hover > th {
  background-color: #fff;
}

.table .thead-rq th {
  color: #495057;
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}